<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqsd.dao.PcUserMapper">
    <!--指定实体类和数据库数据的对应关系-->
    <resultMap id="BaseResultMap" type="com.cqsd.entity.PcUser">
        <id column="C_ID" property="id"/>

        <result column="C_EMAIL" property="email"/>
        <result column="C_NAME" property="name"/>
        <result column="C_PASSWORD" property="password"/>
        <result column="C_PHONE" property="phone"/>
        <result column="C_STATUS" property="status"/>
        <result column="C_USER_NAME" property="username"/>
        <result column="C_CREATE_DATE" property="createDate"/>
<!--        <result column="C_ORG_ID" property="orgId"/>-->
        <association property="pcOrgInfo" javaType="com.cqsd.entity.PcOrgInfo">
            <id column="ORG_ID" property="id"/>
            <result column="ShrotName" property="orgShort"/>
        </association>
    </resultMap>
    <!--分页查询-->
    <sql id="user">
        PC_USER.C_ID,C_EMAIL,C_NAME,C_PASSWORD,C_PHONE,C_STATUS,C_USER_NAME,C_CREATE_DATE,C_ORG_ID,
        POI.C_ORG_SHROT_NAME as ShrotName,POI.C_ID as ORG_ID
    </sql>
    <insert id="saveUser" parameterType="com.cqsd.entity.PcUser">
        INSERT INTO pcm.PC_USER(C_NAME, C_USER_NAME, C_EMAIL, C_PHONE, C_PASSWORD, C_ORG_ID, C_STATUS, C_CREATE_DATE)
        VALUES (#{name}, #{username}, #{email}, #{phone}, #{password}, #{pcOrgInfo.id}, #{status}, #{createDate})
    </insert>
    <update id="updateUser">
        UPDATE pcm.PC_USER
        SET C_NAME=#{name},
            C_USER_NAME=#{username},
            C_EMAIL=#{email},
            C_PHONE=#{phone},
            C_PASSWORD=#{password},
            C_ORG_ID=#{orgId},
            C_STATUS=#{status}
        WHERE C_ID = #{id}
    </update>
    <!--根据ID删除用户信息-->
    <delete id="delUserId" parameterType="int">
        DELETE
        FROM pcm.PC_USER
        where C_ID = #{id}
    </delete>
    <select id="findUser" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="user"/>
        FROM pcm.PC_USER left join PC_ORG_INFO POI on PC_USER.C_ORG_ID = POI.C_ID
        <where>
            <if test="name !=null and name!=''">
                C_NAME LIKE concat(#{name},"%")
            </if>
            <if test="id !=null and id !=''">
                OR u.C_ID LIKE concat(#{id},"%")
            </if>
        </where>
        limit #{page}, #{limit}
    </select>
    <select id="count" resultType="java.lang.Integer">
        SELECT count(C_ID) FROM pcm.PC_USER
        <where>
            <if test="name !=null and name !=''">
                C_NAME LIKE concat(#{name},"%")
            </if>
            <if test="id !=null and id !=''">
                C_ID LIKE concat(#{id},"%")
            </if>
        </where>
    </select>
</mapper>